/* ======= IMPORTER POPPINS DE GOOGLE FONTS ======= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ======= RESET GÉNÉRAL ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Applique Poppins à tout */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #F3F4F6;
    color: #1E3A8A;
}
