{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="nav-links">
          <p>Page d'accueil</p>
        </div>
    {% else %}
      <!-- MESSAGE DE BIENVENUE -->
  {% include "welcome_massage.html" %}
      <div class="home-container">
        <!-- SECTION GAUCHE : BANNIÈRE -->
{% include "signup_banner.html" %}

        <!-- SECTION DROITE : FORMULAIRE DE CONNEXION -->

            {% include "login.html" %}

      </div>
    {% endif %}
{% endblock %}
