
<div class="bg-white p-8 rounded-lg shadow-lg max-w-sm mx-auto w-full h-auto md:h-[22rem] flex flex-col justify-between">
    <h2 class="text-2xl font-semibold text-center text-gray-700">Connexion</h2>

    <!-- Affichage des messages d'erreur -->


    <form method="post" class="mt-6 w-full flex flex-col justify-between flex-grow">
        {% csrf_token %}
        
        <div class="mb-4">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required
                   class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4">
            <input type="password" name="password" placeholder="Mot de passe" required
                   class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <div class="flex justify-end">
            <button type="submit"
                    class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition">
                Se connecter
            </button>
        </div>
          {% if messages %}
        <div class="text-red-600 text-sm mt-1">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    </form>
</div>

