{% load static %}
<form id="ticket-form" method="post" enctype="multipart/form-data" class="mt-6 space-y-4">
    {% csrf_token %}

    <!-- Champ Titre -->
    <div>
        <input type="text" placeholder="Titre" required name="{{ form.title.name }}" value="{{ form.title.value|default_if_none:'' }}"
           class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
   {% if form.title.errors %}
    <p class="text-red-500 text-sm mt-1">{{ form.title.errors.0 }}</p>
{% endif %}

    </div>

    <!-- Champ Description -->
    <div>
        <textarea name="{{ form.description.name }}" rows="4"
                  placeholder="description (optionnel)"
                  class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">{{ form.description.value|default_if_none:'' }}</textarea>
       {% if form.description.errors %}
    <p class="text-red-500 text-sm mt-1">{{ form.description.errors.0 }}</p>
{% endif %}

    </div>

    <!-- Upload Image avec aperçu -->
    {% include "image_upload.html" with field_id="id_image" field_name="image" image_url=ticket.image.url %}

    <!-- Bouton d'envoi dynamique -->
    {% if not hide_submit %}
    <div class="flex justify-center">
        <button type="submit" class="bg-blue-600 text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-700 transition">
            Publier Ticket
        </button>
    </div>
    {% endif %}
</form>

<!-- JavaScript pour afficher l'aperçu de l'image -->
<script src="{% static 'js/image_upload.js' %}"></script>